body{
	background-image: url("fondo.jpg");
}

h1, h3{
	color:blue;
	text-align: center;
}

form{
	width: 480px;
	margin: 0 auto;
	color: blue;
}

input[type="number"]{
	width: 60px;
}

input[type="text"]{
	width: 150px;
}

img{
	width: 380px;
	height: 280px;
}

div{
	width: 380px;
	height: 280px;
	margin: 0 auto;
}

span{
	color: red;
}